@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: #262626;
  cursor: url("../../public/bhumija-cursor-removebg-preview.png") , auto;
}